body {
    font-family: Arial, sans-serif;
    display: inline-block;
    align-items: center;
    height: 100vh;
    margin: 0;
}
header{
    text-align: center;
    background-color: bisque;
    padding: 10px;
    margin-bottom: 20px;
}
#board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    border: 1px solid black;
    padding: 5px;
    background-color: #ffffff;
    width: 320px; 
    margin: 0 auto;
}
.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background-color: white;
    border: 1px solid #ccc;
    cursor: pointer;
}
footer {
    text-align: center;
    background-color: bisque;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
nav ul a{
    text-align: center;
    background-color: tan;
    
}
h1{
    text-align: center;
    background-color: bisque;
}
h2{
    text-align: center;
    background-color: bisque;
}
@media (min-width:768px) {
    .container{
        display: block;
        width: 50%;
        margin: 0;
        padding: 20px;
        gap: 50%;
    }
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    header {
        display:block;
        justify-content: space-between;
        align-items: center;
    }
    nav {
      text-align: center;

    }
    nav a {
        display: block;
        padding: 10px;
        text-decoration: none;
    }
    img{ 
        display: inline-block;
        padding: 10px;
    }
    section {
        width: 50%;
       
    }
    p{
        gap: 10px;
        text-align: center;
    }
}

@media (min-width:1024px) {
    body
    {
        display: contents;
        text-align: center;
    }
    nav {
        text-align: center;
    }
    nav a{
        display: inline;
        padding: 5px;
        text-decoration: none;
    }
    img{
        width: 60%;
    }
    p{
        gap: 10px;
        text-align: center;
    }
    section{
        display: inline-block;
        width: 50%;
        padding: 10px;
    }
    .container{ 
        display: block;
        width: 50%;
        margin: 0;
        padding: 20px;
    }}
    