body {
    background-color: lightblue;
    font-size: 18px;
    line-height: 1.6;
}
button{
    padding: 10px 20px;
    font-size: 18px;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: beige;
}
li {
    float: none;
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 11px 10px;
    text-decoration: none;
}
li a:hover{
    background-color: black;
}
button{
    padding: 10px 20px;
    font-size: 18px;
}

h3{
    font-weight: 100;
    font-size: 15px;
}
.image{
    margin: 5%;
    width: 100%;
}

@media (min-width: 600px){
    body {
        background-color: tan;
        font-size:  20px;
        line-height: 1.6;
        gap: 10px;
    }
    button {
        padding: 15px 30px;
        font-size: 20px;
    }
    li{ float: left;}
    }
@media (min-width: 1024px){
    body{
        background-color: olivedrab;
        font: 22px;}
    button {
        padding: 20px 40px;
        font-size: 24px;
    }
}

